.git
.gitignore
.gitattributes
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db
.venv/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
node_modules/
.env
.tox
.venv
venv/
.idea
.vscode
*.log
logs/
Dockerfile*
docker-compose*
.dockerignore
README.md
*.sqlite3
